<!-- customer-details.component.html -->
<div *ngIf="customerDetails">
    <h2>Welcome, {{ customerDetails.coustomerName }}!</h2>
    <table>
      <tr>
        <th>Customer Account ID</th>
        <td>{{ customerDetails.customerAccountid }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ customerDetails.coustomerEmail }}</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ customerDetails.date }}</td>
      </tr>
    </table>
  
    <div class="balance-section">
      <label>Balance:</label>
      <span>{{ customerDetails.balance }}</span>
    </div>
  </div>
  